<app-nav-bar></app-nav-bar>
<div id="body">
  <div class="container" >
    <div class="formSearch">
      <form [formGroup]="novoCadastroForm" (ngSubmit)="criarCadastro()">
        <div class="form-group">
          <label for="Nome">Nome Completo:</label>
          <input type="text" id="Nome" formControlName="Nome" placeholder="Digite seu nome completo" />
        </div>
        <div class="form-group">
          <label for="DataNascimento">Data de Nascimento:</label>
          <input type="date" id="DataNascimento" formControlName="DataNascimento" placeholder="Selecione sua data de nascimento" />
        </div>
        <div class="form-group">
          <label for="Cpf">CPF:</label>
          <input type="text" id="Cpf" formControlName="Cpf" placeholder="Digite seu CPF" />
        </div>
        <div class="form-group">
          <label for="NomeResponsavel">Nome do Responsável:</label>
          <input type="text" id="NomeResponsavel" formControlName="NomeResponsavel" placeholder="Digite o nome do responsável" />
        </div>
        <div class="form-group">
          <label for="EmailResponsavel">E-mail do Responsável:</label>
          <input type="email" id="EmailResponsavel" formControlName="EmailResponsavel" placeholder="Digite o e-mail do responsável" />
        </div>
        <div class="form-group">
          <label for="TelefoneResponsavel">Telefone do Responsável:</label>
          <input type="tel" id="TelefoneResponsavel" formControlName="TelefoneResponsavel" placeholder="Digite o telefone do responsável" />
        </div>
        <button mat-raised-button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
